<div class = "container" >
  <h3> Data Details</h3>

  <form #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)" #f = "ngForm">

    <div class = "form-group">
      <label> Name</label>
      <input type = "text" class = "form-control" name = "name" [(ngModel)] = "myName" required>
      <p> {{myName}}</p>
       
    </div>
    <div class = "form-group">
      <label> Surname</label>
      <input type = "text" class = "form-control"name = "Surname" ngModel>
       
    </div>

    <div class = "form-group">
      <label> Email</label>
      <input type = "text" class = "form-control" name = "Email" ngModel required #email  ="ngModel">
      <span class = "help-block" *ngIf = "!email.valid && email.touched "> Please enter a valid e-mail!</span>
       
    </div>


    <div class = "form-group">
      <label> City</label>
      <input type = "text" class = "form-control" name = "City" ngModel>
       
    </div>



    <div class = "form-group">
      <label> PostalCode</label>
      <input type = "text" class = "form-control" name = "PostalCode" ngModel>
       
    </div>

    <button class = "btn btn-primary"[disabled] = "!f.valid">Submit</button>





  </form>

</div>